.card {
  width: 12.5rem;
  height: 25.5rem;
  box-sizing: border-box;

  background-color: $color-white;
  border: $color-border solid 1px;
  border-radius: $radius-sm;
  padding: $spacing-md;

  &__image {
    width: 100%;
    height: 8.38rem;
    object-fit: contain;
    object-position: center;
    display: block;
    margin-bottom: 2.5rem; // 40px
    margin-top: 1rem;
    margin-inline: 0.19rem;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem; // 24px
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__title {
    font-weight: 500;
    font-size: $font-size-sm;
    line-height: 1.13;
    color: $color-black;
    text-align: left;
    margin-bottom: 0.25rem; // 4px
    letter-spacing: 0%;
  }

  &__code {
    font-weight: 400;
    font-size: $font-size-xs;
    line-height: 1.13;
    color: $color-gray;
    text-align: left;
    margin-bottom: 1rem; // 16px
  }

  &__price-label {
    font-weight: 400;
    font-size: $font-size-sm;
    line-height: 1.13;
    color: $color-gray;
  }

  &__price-value {
    font-weight: 700;
    font-size: $font-size-lg;
    line-height: 1.13;
    color: $color-black;
  }

  &__reviews {
    font-weight: 400;
    font-size: $font-size-xs;
    line-height: 1.4;
    color: $color-black;
    white-space: nowrap;
  }

  &__buy {
    display: flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $button-height;

    background-color: $color-primary;
    color: $color-white;
    font-weight: 700;
    font-size: $font-size-md;
    line-height: 1.13;
    border: $color-primary solid 0.06rem;
    border-radius: $radius-sm;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
      border-color: $color-primary;
    }
  }

  &:hover {
    border-color: transparent;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: 0.2s ease;
  }
}
