$color-primary: #00ACDC;
$color-white: #FFF;
$color-black: #000;
$color-gray: #616070;
$color-border: #F3F3F3;
$radius-sm: 0.3125rem;
$spacing-md: 1rem;
$button-height: 2.5rem;

$font-size-xs: 0.625rem; // 10px
$font-size-sm: 0.75rem;  // 12px
$font-size-md: 0.875rem; // 14px
$font-size-lg: 1rem;     // 16px

